[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pillow = "*"
docker = "*"
tensorflow-serving-api = "*"
gensim = "*"
tqdm = "*"
comet-ml = "*"
pandas = "*"
spacy = "*"
tensorflow = {version="*", sys_platform = "== 'darwin'"}
tensorflow-gpu = {version=">=1.11.0", sys_platform = "== 'linux'"}

[dev-packages]
tox-pipenv = "*"
pytest = "*"
hypothesis = "*"
matplotlib-venn = "*"

[requires]
python_version = "3.6"
