[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
matplotlib = "*"
pillow = "*"
docker = "*"
tensorflow-serving-api = "*"
gensim = "*"
tqdm = "*"
comet-ml = "*"
pandas = "*"
spacy = "*"

[dev-packages]
tox-pipenv = "*"
pytest = "*"
hypothesis = "*"

[requires]
python_version = "3.6"
