[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.0.3"
pillow = "*"
docker = "*"
tensorflow-serving-api = "==1.12.0"
gensim = "*"
tqdm = "*"
comet-ml = "*"
pandas = "*"
spacy = "==2.0.18"
tensorflow = {version = "==1.12.2",sys_platform = "== 'darwin'"}
tensorflow-gpu = {version = "==1.12.2",sys_platform = "== 'linux'"}

[dev-packages]
tox-pipenv = "*"
pytest = "*"
hypothesis = "*"
matplotlib-venn = "*"
rope = "*"
pylint = "*"
black = "*"
seaborn = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
